Package: @package@
Version: @version@
Priority: standard
Section: non-free
Architecture: @architecture@
Depends: @dependencies@
Conflicts: @conflicts@
Provides: @provides@
Maintainer: Alexey Barashkov <barasher@yandex.ru>
Homepage: https://wicron.com/
Installed-Size: @size@
Description: Software for simulating the vacuum infusion process
